<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head th:include="fragments/general :: headerFragment">
	
</head>
<body>
	<div th:replace="fragments/general :: navFragment"></div>
	
	<div class="container" style="min-height: 600px; overflow: auto;">
		
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<span th:text="${errCode}">
				
				</span>
				
				<p th:each="msg :${errMsg}" th:text="${msg}">
				</p>
						
			</div>
		</div>
	</div>
	

	<div th:replace="fragments/general :: footerFragment"></div>
	<div th:replace="fragments/general :: jsFragment"></div>
	
</body>
</html>