<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
	
<head th:fragment="headerFragment">

	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
	<link media="all" th:href="@{/resources/css/bootstrap.css}" rel="stylesheet"/>
	
</head>

<body>

<div th:fragment="navFragment" class="navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Dashboard</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">Agregar Paciente</a>
        </li>
        <li>
          <a href="#">Generar Consulta</a>
        </li>
        <li>
          <a href="#">Reportes</a>
        </li>
        <li>
          <a href="#">Flujo de medicamentos</a>
        </li>
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            
          </ul>
        </li>
      </ul>
    </nav>
  </div>

</div>

<div id="masthead" th:fragment="principalFragment">	
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>SISMEC
        </h1>
        <p class="lead">
        Sistema de control y monitoreo de pacientes con enfermedades cronicas
        </p>
      </div>
      <div class="col-md-5">
        
      </div>
    </div> 
  </div><!-- /cont -->
</div>

<footer th:fragment="footerFragment">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>      
      </div>
    </div>
  </div>
</footer>

		
<div th:fragment="jsFragment">

	<script type="text/javascript" th:src="@{/resources/js/query-1.11.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/bootstrap.js}"></script>

</div>

</body>
</html>