<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
	
<head th:fragment="headerFragment">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 

	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet"/>
	<link media="all" th:href="@{/resources/css/bootstrap.css}" rel="stylesheet"/>
	<link media="all" th:href="@{/resources/css/custom.css}" rel="stylesheet"/>
	<link media="all" th:href="@{/resources/libs/font-awesome/css/font-awesome.css}" rel="stylesheet"/>
	<link media="all" th:href="@{/resources/libs/datatables/css/jquery.dataTables.css}" rel="stylesheet"/>
	<link media="all" th:href="@{/resources/libs/datatables/css/jquery.dataTables_themeroller.css}" rel="stylesheet"/>
	<link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css' />
	
</head>

<body>

<div th:fragment="navFragment" class="navbar navbar-default" role="banner">
  
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a th:href="@{/}" class="navbar-brand">
      	<i class="glyphicon glyphicon-home"></i>
      	SICMEC
      </a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
     
      <ul class="nav navbar-nav navbar-right">
		<li>
			<a href="#">
			<i class="fa fa-user-md fa-lg"></i>
			<span id="session_user">USUARIO</span> </a>
		</li>
		<li class="">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<i class="glyphicon glyphicon-cog"></i>
			<span>AJUSTES</span>
			</a>
		</li>
		<li><a href="#">
			<i class="glyphicon glyphicon-share-alt"></i>
			<span>CERRAR SESION</span>
			</a>
		</li>
	 </ul>
      
    </nav>
  </div>

<footer th:fragment="footerFragment">

<div class="container-fluid footer">
	<div class="row footer">
		<div class="col-md-4 text-left">
			<!-- MINISTERIO DE SALUD
			<br></br>Santa Ana
			<br></br> 
			El salvador -->
		<div id="footer" class="span12" style="padding: 5px;">
		<img alt="" th:src="@{/resources/images/logo_minsal.png}" height="60px" width="100px"/>
		<!--  2014 &copy; MINSAL -->
		</div>
		</div>
		<div class="col-md-4 text-center" style="padding-top: 1%;">
			<b>MINISTERIO DE SALUD
			<br></br>
			EL SALVADOR
			</b>
		</div>
		<div class="col-md-4 text-right visible-lg-inline" style="padding-top: 22px; padding-right: 7%;">
			<ul class="list-inline">
          		<li><i class="icon-facebook icon-2x"></i></li>
          		<li><i class="icon-twitter icon-2x"></i></li>
          		<li><i class="icon-google-plus icon-2x"></i></li>
          		<li><i class="icon-pinterest icon-2x"></i></li>
        	</ul>
		</div>
	</div>	
</div>

  <!-- <div class="row-fluid">
  		<div class="col-md-11">
  			<ul class="list-inline">
          		<li><i class="icon-facebook icon-2x"></i></li>
          		<li><i class="icon-twitter icon-2x"></i></li>
          		<li><i class="icon-google-plus icon-2x"></i></li>
          		<li><i class="icon-pinterest icon-2x"></i></li>
        	</ul>
        </div>
        <div class="col-md-1">	
  			<div id="footer" class="span12"> 2014 &copy; MINSAL</div>
  		</div>	
  </div> -->
  
</footer>

		
<div th:fragment="jsFragment">

	<script type="text/javascript" th:src="@{/resources/js/jquery-1.11.1.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/bootstrap.js}"></script>
	<script type="text/javascript" th:src="@{/resources/libs/datatables/js/jquery.dataTables.js}"></script>
</div>

</body>
</html>