<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
	
<head th:fragment="headerFragment">

	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet"/>
	<link media="all" th:href="@{/resources/css/bootstrap.css}" rel="stylesheet"/>
	<link media="all" th:href="@{/resources/css/custom.css}" rel="stylesheet"/>
	
</head>

<body>

<div th:fragment="navFragment" class="navbar navbar-default" role="banner">
  
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a th:href="@{/}" class="navbar-brand">Dashboard</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">Agregar Paciente</a>
        </li>
        <li>
          <a href="#">Generar Consulta</a>
        </li>
        <li>
          <a href="#">Reportes</a>
        </li>
        <li>
          <a href="#">Flujo de medicamentos</a>
        </li>
      </ul>
      
    </nav>
  </div>

<footer th:fragment="footerFragment">
  <div class="row-fluid">
  		<div class="col-md-11">
  			<ul class="list-inline">
          		<li><i class="icon-facebook icon-2x"></i></li>
          		<li><i class="icon-twitter icon-2x"></i></li>
          		<li><i class="icon-google-plus icon-2x"></i></li>
          		<li><i class="icon-pinterest icon-2x"></i></li>
        	</ul>
        </div>
        <div class="col-md-1">	
  			<div id="footer" class="span12"> 2014 &copy; MINSAL</div>
  		</div>	
  </div>
  
</footer>

		
<div th:fragment="jsFragment">

	<script type="text/javascript" th:src="@{/resources/js/jquery-1.11.1.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/bootstrap.js}"></script>

</div>

</body>
</html>