<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head th:include="fragments/general :: headerFragment">
	
</head>
<body>
	<div th:replace="fragments/general :: navFragment"></div>
	
	<div class="container" style="min-height: 600px; overflow: auto;">
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<button class="btn btn-primary" th:text="#{admin.usuarios.add}"
					data-toggle="modal" data-target="#modalAgregarUsuario">
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<div th:if="${success}" class="alert alert-info alert-dismissible" role="alert">
  					<button type="button" class="close" data-dismiss="alert">
  						<span aria-hidden="true">&times;</span>
  						<span class="sr-only">Close</span>
  					</button>
  					<strong th:utext="#{general.alerta.atencion}"></strong>
  					<p th:utext="#{admin.usuarios.alertas.agregar.exito}"></p>
				</div>
				<div th:if="${upSuccess}" class="alert alert-info alert-dismissible" role="alert">
  					<button type="button" class="close" data-dismiss="alert">
  						<span aria-hidden="true">&times;</span>
  						<span class="sr-only">Close</span>
  					</button>
  					<strong th:utext="#{general.alerta.atencion}"></strong>
  					<p th:utext="#{admin.usuarios.alertas.modificar.exito}"></p>
				</div>
				
			</div>	
		</div>
		<div class="row">
			<div class="col-md-12 col-xs-12">
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon">
						<i class="fa fa-users"></i>
					</span>
					<h5 th:utext="#{admin.usuarios.title}"></h5>
				</div>
				<div class="widget-content">
					<div class="table-responsive">	
						<table class="table table-hover table-striped table-bordered datatables">
							<thead>
								<tr class="head">
									<th></th>
									<th th:text="#{admin.usuarios.nombre}"></th>
									<th th:text="#{admin.usuarios.apellido}"></th>
									<th th:text="#{admin.usuarios.usuario}"></th>
									<th th:text="#{admin.usuarios.tipo}"></th>
									<th th:utext="#{admin.usuarios.mail}"></th>
									<th th:utext="#{admin.usuarios.fxact}"></th>
									<th th:utext="#{admin.usuarios.fxdes}"></th>
								</tr>	
							</thead>
							<tbody>
								<tr th:each="usuario : ${usuarios}">
									<td>
										<div class="btn-group">
  											<button type="button" class="btn btn-danger"
  											data-id="${usuario.idSicUsuario}">
  												<i class="fa fa-trash-o"></i>
  											</button>
   											<button type="button" class="btn btn-default onUpdate" th:attr="data-id=${usuario.idSicUsuario}">
   												<!-- data-toggle="modal" data-target="#modalAgregarUsuario" -->
   												<i class="fa fa-pencil-square-o"></i>
   											</button>
										</div>
									</td>
									<td th:text="${usuario.SicPersona.nombre}"></td>
									<td th:text="${usuario.SicPersona.apellido}"></td>
									<td th:text="${usuario.nombreUsuario}"></td>
									<td th:text="${usuario.SicRol.nombreRol}"></td>
									<td th:text="${usuario.SicPersona.email}"></td>
									<td th:text="${usuario.fxActivacion}"></td>
									<td th:text="${usuario.fxDesactivacion}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>	
						
			</div>
		</div>
			
	</div>
	
<div class="modal fade" id="modalAgregarUsuario" tabindex="-1" role="dialog" aria-labelledby="modalAgregarUsuario" aria-hidden="true">
  	<div class="modal-dialog">
    	<div class="modal-content">
    	<form th:action="@{/admin/usuarios/addUser}" method="post" >
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        			<h4 class="modal-title" th:text="#{admin.usuarios.addmodal.titulo}"></h4>
      			</div>
      		<div class="modal-body">
        		<div class="form-group">
        			<label for="nombre" th:text="#{admin.usuarios.nombre}"></label>
    				<input type="text" class="form-control" id="nombre" name="nombre" th:placeholder="#{admin.usuarios.nombre}" />
        		</div>
        		<div class="form-group">
        			<label for="apellido" th:text="#{admin.usuarios.apellido}"></label>
    				<input type="text" class="form-control" id="apellido" name="apellido" th:placeholder="#{admin.usuarios.apellido}" />
        		</div>
        		<div class="form-group">
        			<label for="usuario" th:text="#{admin.usuarios.usuario}"></label>
    				<input type="text" class="form-control" id="usuario" name="usuario" th:placeholder="#{admin.usuarios.usuario}" />
        		</div>
        		<div class="form-group">
        			<label for="pass" th:utext="#{admin.usuarios.pass}"></label>
    				<input type="password" class="form-control" id="pass" name="pass" />
        		</div>
        		<div class="form-group">
        			<label for="passConfirm" th:utext="#{admin.usuarios.passConfirm}"></label>
    				<input type="password" class="form-control" id="passConfirm" name="passConfirm" />
        		</div>
        		<div class="form-group">
        			<label for="mail" th:utext="#{admin.usuarios.mail}"></label>
    				<input type="text" class="form-control" id="mail" name="mail" />
        		</div>
        		
        		<div class="form-group">
        			<label for="rol" th:utext="#{admin.usuarios.mail}"></label>
    				<select class="form-control" id="rol" name="rol">
    					<option th:each="rol:${roles}" th:value="${rol.idSicRol}" th:text="${rol.nombreRol}"></option>
    				</select>
        		</div>
        		
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{general.btn.cancelar}"></button>
        		<button type="submit" class="btn btn-primary" th:text="#{general.btn.guardar}"></button>
      		</div>
      		</form>
    	</div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modalUpdateUsuario" tabindex="-1" role="dialog" aria-labelledby="modalUpdateUsuario" aria-hidden="true">
  	<div class="modal-dialog">
    	<div class="modal-content">
    	<form th:action="@{/admin/usuarios/upUser}" method="post" >
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        			<h4 class="modal-title" th:utext="#{admin.usuarios.upmodal.titulo}"></h4>
      			</div>
      		<div class="modal-body">
      			<input type="text" id="id" name="id" style="display: none;"/>
      			
        		<div class="form-group">
        			<label for="nombresUp" th:text="#{admin.usuarios.nombre}"></label>
    				<input type="text" class="form-control" id="nombresUp" name="nombresUp" th:placeholder="#{admin.usuarios.nombre}" />
        		</div>
        		<div class="form-group">
        			<label for="apellidosUp" th:text="#{admin.usuarios.apellido}"></label>
    				<input type="text" class="form-control" id="apellidoUp" name="apellidoUp" th:placeholder="#{admin.usuarios.apellido}" />
        		</div>
        		<div class="form-group">
        			<label for="mailUp" th:utext="#{admin.usuarios.mail}"></label>
    				<input type="text" class="form-control" id="mailUp" name="mailUp" />
        		</div>
        		<div class="form-group">
        			<label for="rol" th:utext="#{admin.usuarios.mail}"></label>
    				<select class="form-control" id="rolUp" name="rolUp">
    					<option th:each="rol:${roles}" th:value="${rol.idSicRol}" th:text="${rol.nombreRol}"></option>
    				</select>
        		<div class="form-group">
        			<label for="fxAct" th:utext="#{admin.usuarios.fxAct}"></label>
    				<input type="date" class="form-control" id="fxAct" name="fxAct"/>
        		</div>
        		<div class="form-group">
        			<label for="fxDes" th:utext="#{admin.usuarios.fxDes}"></label>
    				<input type="date" class="form-control" id="fxDes" name="fxDes"/>
        		</div>
        		
        		</div>
        		
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{general.btn.cancelar}"></button>
        		<button type="submit" class="btn btn-primary" th:text="#{general.btn.guardar}"></button>
      		</div>
      		</form>
    	</div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

	<div th:replace="fragments/general :: footerFragment"></div>
	<div th:replace="fragments/general :: jsFragment"></div>

<script type="text/javascript" th:src="@{/resources/js/administracionUsuarios.js}"></script>

	
</body>
</html>
